<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EurocomV2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand navbar-light border-bottom box-shadow mb-3" style="background-color:steelblue;">
            <div class="container">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white navGlyph" asp-area="" asp-controller="Home" asp-action="Privacy"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white navGlyph" asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white navGlyph" asp-area="" asp-controller="Home" asp-action="Privacy"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:steelblue;">
        <div class="container" style="text-align:center; color:white;">
            &copy; 2020 - EurocomV2 - <a style="color:lightblue" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
