@page
@model accgegevensModel
@{
    ViewData["Title"] = "Account gegevens";
}

    <div class="text-center">
        <h1 style="padding-top:5%">@ViewData["Title"]</h1>

        <p style="border:2px;border-image-width:1px; border-style:solid; border-color:#000000; padding: 1em;">voornaam:(opvragen database)<br><br>achternaam:(opvragen database)<br><br>telefoonnummer:(opvragen database)<br><br>huisarts:(opvragen database)<br><br>telefoonnummer huisarts:(opvragen database)</p>
    </div>

    <div class="text-center">
        <h1 style="padding-top:5%">Contactpersonen</h1>

        <p style="border:2px;border-image-width:1px; border-style:solid; border-color:#000000; padding: 1em;">(naam persoon) (nummer)<br><br>(naam persoon) (nummer)<br><br>(naam persoon) (nummer)

    </div>
    
 