
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard</title>
</head>
<body>

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <p align="right"><a class="nav-link text-blue" asp-area="" asp-controller="Users" asp-action="Index">Go to Patient Page <span class="glyphicon glyphicon-user"></span></a></p>
    </div>

</body>
</html>
