<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Notes";
}

@{
    string test = "collapse" + Convert.ToString(1);
}
<h1>Notes</h1>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="float-md-right">
                <div class="btn-group-white .bg-transparent" role="group" aria-label="Group">
                    <button type="button" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> Remove
                    </button>
                    <button type="button" class="btn btn-success">
                        <i class="far fa-edit"></i> Edit
                    </button>
                    <button class="bg-primary" data-toggle="collapse" data-target="#@test" aria-expanded="true" aria-controls="@test">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="@test" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p><b>@DateTime.Now.ToShortDateString()</b> Mevrouw de Vries heeft veel stress gehad en daardoor zijn er veel schommelingen ontstaan in de INR-waarde van haar. Veel rust nemen is dus belangrijk.</p>
            </div>
        </div>
    </div><br/>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
