@using EurocomV2.Controllers
@using EurocomV2.Models.Classes
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Home Page";
    getInfo get = new getInfo();
}
<body style="background: #9fdefa">
    <div class="Head">Welkom</div>
    @if (signInManager.IsSignedIn(User))
    {
        if (TempData["UserID"] != null)
        {
            char gender = get.getGenderMethod(await userManager.FindByIdAsync(TempData["UserID"].ToString()));
            string lastname = get.getLastName(await userManager.FindByIdAsync(TempData["UserID"].ToString()));

            @if (gender == 'm')
            {
                <div class="Head2">Meneer @lastname</div>
            }
            else
            {
                <div class="Head2">Mevrouw @lastname</div>
            }
        }
    }


    <div class="container">
        <div class="row">
            <div class="col-12" style="min-height: 60px"></div>
            <div class="col-md-5 col-12" style="text-align: center; min-height: 150px;">
                <a href="Home/Status">
                    <div type="button" class="btn btn-primary button btn w-75" style="height: auto">
                        Status
                        <div></div>
                        <span class="glyphicon glyphicon-heart buttonGlyph" aria-hidden="true"></span>
                    </div>
                </a>
            </div>
            <div class="col-2">
                @{string gezondheid = "kut";}
                @if (gezondheid == "kut")
                {
                    <a href="Mail/GetMail">
                        <div type="button" class="btn btn-danger btn w-100" style="height: auto; font-weight:bold; text-align:center; font-size:larger">
                            Contact <br /> Doktor
                        </div>
                    </a>
                }
            </div>
            <div class="col-12 col-md-5" style="text-align: center; min-height: 150px;">
                <a href="Home/Account">
                    <div type="button" class="btn btn-primary button btn w-75" style="height: auto">
                        Account
                        <div></div>
                        <span class="glyphicon glyphicon-user buttonGlyph" aria-hidden="true"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>