@{
    ViewData["Title"] = "Account";
}

<body style="background: #9fdefa">
    <div class="Head">Account</div>
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block col-lg-2" style="text-align:center; min-height:150px;">
            </div>
            <div class="col-12 col-lg-8 Privacytext">
                <div class="row">
                    <div class="col-xl-4 col-12">
                        Voornaam:<br />
                    </div>
                    <div class="col-xl-8 col-12">
                        Annelies<br />
                    </div>
                    <div class="col-xl-4 col-12">
                        Achternaam:<br />
                    </div>
                    <div class="col-xl-8 col-12">
                        de vries<br />
                    </div>
                    <div class="col-xl-4 col-12">
                        Telefoonnummer:<br />
                    </div>
                    <div class="col-xl-8 col-12">
                        0646721290<br />
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2" style="text-align:center; min-height:150px;">
            </div>
            <div class="col-12" style="min-height:60px"></div>
        </div>
    </div>
</body>