@{
    ViewData["Title"] = "Dashboard";
}

<body style="background: #9fdefa">
    <div class="Head">Welkom, Dr de Laat</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-12" style="text-align:center; min-height:150px;">
                    <input type="text" class="w-75" /><button class="w-25"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                 <div class="col-12"></div>
                <div class="col-12 Privacytext">
                    <div class="w-100" style="min-height:10rem">
                        Patienten
                        @* @foreach (patient in patienten){
                 <div class="col-12">
                 <a href="Doctor/patient">
                 <div>patient.naam</div>
                 </a>
                 </div>
                }*@
                    </div>
                </div>
                <button class="btn btn-primary w-100">Create patient</button>
            </div>
            <div class="col-xl-7 col-12 w-100" style="height:auto;">
                <div class="col-12 w-100 Privacytext h-100">
                    <div>
                        Meldingen
                        @* @foreach (melding in meldingen){
             <div class="col-12">
             <a href="Doctor/meldingInhoud">
             <div>melding.naam</div>
             </a>
             </div>
            }*@
                    </div>
                </div>
                    </div>
                    <div class="col-12" style="min-height:60px"></div>
                </div>
            </div>
        </body>
