
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="~/css/Style.css" rel="stylesheet" />

<body style="background: #9fdefa">
    <div class="container">
        <div class="row">
            <div class="col-12" style="min-height:450px;">
                <h1 class="display-1" style="text-align:center;">Welkom</h1>
                <h1 class="display-3" style="text-align:center;">Mvr. van der achterlijkeblobvis</h1>
            </div>
            <div class="col-6" style=" text-align:center;">
                <button type="button" style="height: 100px; width: 200px;" class="btn btn-primary"> test
                </button>
            </div>
            <div class="col-6" style=" text-align:center;">
                    <button type="button" style="height: 100px; width: 200px;"class="btn btn-primary">Primary</button>
            </div>
        </div>
    </div>
</body>