@{
    ViewData["Title"] = "Privacy";
}

<body style="background: #9fdefa">
    <div class="Head">Gebruikersovereenkomst</div>
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block col-lg-2" style="text-align:center; min-height:150px;">
            </div>
            <div class="col-12 col-lg-8 Privacytext">
                <div>
                    Per 25 mei 2018 is de AVG wet van toepassing. Dit houd in dat wij alleen
                    de noodzakelijke gegevens van u mogen vragen die noodzakelijk zijn voor
                    het leveren van een product of dienst. Voor het gebruiken van onze
                    webapplicatie dient u akkoord gaan met onze algemene voorwaarden. U gaat
                    ermee akkoord dat wij uw gegevens kunnen gebruiken en opslaan voor het
                    doeleinde waarop u toestemming hebt gegeven. Wij zullen nooit zomaar
                    zonder reden uw gegevens delen met derde partijen. In geval van
                    noodgevallen of als wij vermoeden dat het niet goed met uw gezondheid
                    gaat dan machtigt u ons om uw gegevens te verstrekken met uw doktor,
                    huisarts, de mantelzorger en familieleden.
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2" style="text-align:center; min-height:150px;">
            </div>
            <div class="col-12">
                <div class="text-center">
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary Privacytext" style="font-size:2.5rem; font-weight:bold; border-color:white; height:5rem; min-width:12.5rem">Accepteer</button>
                </div>
            </div>
            <div class="col-12" style="min-height:60px"></div>
        </div>
    </div>
</body>