
@{
    ViewData["Title"] = "Status";
}


    <body style="background: #9fdefa">
        <div class="Head">Status</div>
        <div class="Head2">Mvr. de Vries<br /><br /><br /></div>
        <div class="row">
            <div class="col-4 Textvlak" style="text-align:center;">
                INR @TempData["INR"] <br />
        @switch (TempData["Statusicon"])
        {
            case "Perfect":
                <span class="glyphicon glyphicon-ok-sign"></span>
                break;
            case "Goed":
                <span class="glyphicon glyphicon-minus-sign"></span>
                break;
            case "Slecht":
                <span class="glyphicon glyphicon-remove-sign"></span>
                break;
            default:
                break;
        }
            </div>
            <div class="col-1">
            </div>
            <div class="col-7 Textvlak2" style="text-align:center;">
                @ViewBag.Status
            </div>
        </div>
    </body>

