
@{
    ViewData["Title"] = "Status";
}


    <body style="background: #9fdefa">
        <div class="Head">Status</div>
        <div class="Head2">Mvr. de Vries<br /><br /><br /></div>
        <div class="row">
            <div class="col-4 Textvlak" style="text-align:center;">
                INR 2,3 <br />
                <span class="glyphicon glyphicon-thumbs-up buttonGlyph" aria-hidden="true"></span>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7 Textvlak2" style="text-align:center;">
                Ga misschien langs bij uw huisarts, uw INR Waarde is 2,3
            </div>
        </div>
    </body>

