@model EurocomV2.Models.StatusViewModel

@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>

<h4>StatusViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <p>@ViewBag.Status</p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
