.customDiv {
    min-height: 200px;
    background-color:transparent;
    text-align: center;
    font-size: 45px;
}

.test {
    min-height: 400px;
    background-color: transparent;
    text-align: center;
    font-size: 60px;
}


@media screen and (max-width:600px){
    .Head {
        background-color: transparent;
        text-align: center;
        border-color: white;
        color: white;
        font-size: 6.5vw;
        font-weight: bold;
    }
    .Head2 {
        background-color: transparent;
        text-align: center;
        border-color: white;
        color: white;
        font-size: 5vw;
        font-weight: bold;
        min-height: 50vw;
    }
    .button {
        background-color: lightskyblue;
        border-color: white;
        font-size: large;
        font-weight: bold;
        font-size: 5vw;
    }
    .buttonGlyph {
        font-size: 10vw;
    }

}
@media screen and (min-width:600px) {
    .Head {
        background-color: transparent;
        text-align: center;
        border-color: white;
        color: white;
        font-size: 6vw;
        font-weight: bold;
    }
    .Head2 {
        background-color: transparent;
        text-align: center;
        border-color: white;
        color: white;
        font-size: 3.5vw;
        font-weight: bold;
        min-height: 20vw;
    }
    .button {
        background-color: lightskyblue;
        border-color: white;
        font-size: large;
        font-weight: bold;
        font-size: 3vw;
    }
    .buttonGlyph {
        font-size: 6vw;
    }

}
@media screen and (min-width:1100px) {
    .navGlyph {
        font-size: 2.2vw;
    }
}
@media screen and (max-width:1100px) {
    .navGlyph {
        font-size: 4.4vw;
    }
}